node_modules
.DS_Store
dist
dist-ssr
*.local

# npm-error文件
npm-error.log
yarn-error.log
pnpm-error.log

# .vscode
# .git
# .husky
# .env.develepment

# 正式项目这个production配置应该在公司内部操作,不要暴露在github上
.env.production
